*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vw;

}
#colorBox{
    border: 1px solid;
}
#changeColorBtn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1.5vh 2vw;
    cursor: pointer;
}
#changeColorBtn:hover{
    background-color: #000000c9;
}